
<nav class="navbar navbar-expand-lg navbar-info bg-light">
   
  <a class="navbar-brand" href="{{ path('app_home') }}">Hotel du Monde</a>
  
  
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div class="collapse navbar-collapse" id="navbarNav">
  
   
    <ul class="navbar-nav">
    {% if app.user %}
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Outils
        </a> 
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        
        <li><hr class="dropdown-divider"></li>
        
      </ul>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">disconnect</a>
        </li>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="{{ path('app_chambre_index') }}"
          >Nos chambres</a
        >
        {% else %}


      
     
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_register') }}">register</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="{{ path('app_login') }}"
          >login</a
        >

        
        
      {% endif %}
    </ul>
  </div>
</nav>
